@use '../Mixins.scss' as mix;

.daily-forecast-container {
    @include mix.background;
    width: 100%;
    display: flex;
    overflow: auto;
    justify-content: space-around;
    margin-top: 20px;
}

