@use '../Mixins.scss' as mix;

.daily-forecast-container {
    @include mix.background;
    @include mix.scrollBar;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1 1;
    overflow: auto;
    justify-content: space-around;
    margin-top: 20px;
    padding: 0 5%;
    overflow-y: hidden;
    min-height: 130px;
}

.daily-forecast {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.daily-forecast div {
    display: flex;
    gap: 10px;
    align-items: center;
}

