.location-info {
    background-color: aliceblue;
    height: fit-content;
    padding: 20px;
    border-radius: 10px;
}

.country {
    font-size: 1.2rem;
}

.place, .enter-city {
    font-size: 2rem;
    font-weight: bold;
}

.enter-city {
    background-color: transparent;
    width: 150px;
}