@use '../Mixins.scss' as mix;

.location-info {
    @include mix.background;
    height: fit-content;
    width: fit-content;
    padding: 20px;
    
}

.country {
    font-size: 1.2rem;
}

.place, .enter-city {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.enter-city {
    background-color: transparent;
    width: 150px;
}