.location-info {
    background-color: aliceblue;
    height: fit-content;
    padding: 20px;
    border-radius: 10px;
}

.country {
    font-size: 1.2rem;
}

.place {
    font-size: 2rem;
    font-weight: bold;
}