@use './Mixins.scss' as mix;

.weather-display {
    width: 100%;
    max-width: 850px;
    height: 100vh;
    background-color: transparent;
    margin: auto;
    padding: 20px 5%;
    display: flex;
    flex-direction: column;
    overflow: none;
}

.region {
    margin: 0 20px 0 auto;
}

.weather-display p {
    @include mix.text;
}

.top-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    padding: 10px 30px;
    flex-grow: 1 1;
}



