@use './Mixins.scss' as mix;

.weather-display {
    width: 90%;
    height: 85vh;
    background-color: aquamarine;
    margin: 5% auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.region {
    margin: 10px 20px 0 auto;
}

.weather-display p {
    @include mix.text;
}

.top-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    gap: 30px;
    padding: 20px;
    flex-grow: 1 1;
}

@media screen and (min-width: 480px) {
   
    .weather-display {
        width: 70%;
        height: 70vh;
    }
}

@media screen and (max-width: 480px) {
    .top-section {
        margin-top: 0px;
    }

    .weather-display {
        padding-top: 0px;
    }
    
}